<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="vue.js"></script>
	<style type="text/css">
		.classA{display: none;}
		.classB{display: block;}
		li{position: relative;}
		input{position: absolute;top:0;left:0;}
	</style>
</head>
<body>
	<div id="app">
		<ul>
			<li v-for="tudo in tudos">
				<p v-on:click="showWrite($index)">{{tudo.text}}</p>
				<input type="text" v-bind:class="[currentIndex == $index ? 'classB' :'classA' ]" v-model="tudo.text" v-on:keyup.enter="reply($index)">
			</li>
		</ul>
	</div>
</body>
<script type="text/javascript">
	new Vue({
		el:"#app",
		data:{
			tudos:[
				{text:"1111"},
				{text:"2222"},
				{text:"3333"},
				{text:"4444"},
				{text:"5555"}
			],
			currentIndex:-1
		},
		methods:{
			showWrite:function(index){
				this.currentIndex=index;
				console.log(index);
			},
			reply:function(index){
				this.currentIndex=-1;
			}
		}
	})
</script>
</html>